<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39815275412-co78a9dd65f1iotrng38000jloqlegjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39815275412-co78a9dd65f1iotrng38000jloqlegjd</string>
	<key>API_KEY</key>
	<string>AIzaSyA3mthmZfhzJAD6fltOQ786_sH-TpxzNVE</string>
	<key>GCM_SENDER_ID</key>
	<string>39815275412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gilbertwang.MockInstagram</string>
	<key>PROJECT_ID</key>
	<string>mockagram-de494</string>
	<key>STORAGE_BUCKET</key>
	<string>mockagram-de494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39815275412:ios:ef999ee8a3feb1ac04e581</string>
</dict>
</plist>